#Telosys-Tools properties
#Fri Jul 01 19:42:18 CDT 2016
ProjectVariable.PROJECT_NAME=techjournal-webs
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=com.kumasi.techjournal
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
ProjectVariable.MYVAR=foo
RepositoriesFolder=TelosysTools
SRC=src/main/java
ENTITY_PKG=com.kumasi.techjournal.domain
ProjectVariable.MAVEN_ARTIFACT_ID=techjournal-webs
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
