	<fieldset class="col-sm-12 bordure">
		<legend class="legende">{{ 'ReleaseNote' | translate }}</legend>
		
		<div ng-include src="'partials/message-include.html'"></div>
   		
		<form class="well form-horizontal">
			
			<div class="form-group">
				<label for="releaseNote_ticketNumber" class="col-sm-2 control-label">{{ 'releaseNote.ticketNumber' | translate }}</label>
				<div class="col-sm-10">
					<input type="text" id="releaseNote_ticketNumber" name="ticketNumber" ng-model="releaseNote.ticketNumber" class="form-control" maxLength="15" />
				</div>
			</div>
			<div class="form-group">
				<label for="releaseNote_datePlaced" class="col-sm-2 control-label">{{ 'releaseNote.datePlaced' | translate }}</label>
				<div class="col-sm-10">
					<input id="releaseNote_datePlaced" bs-datepicker data-autoclose="1" ng-model="releaseNote.datePlaced" name="datePlaced" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="releaseNote_comment" class="col-sm-2 control-label">{{ 'releaseNote.comment' | translate }}</label>
				<div class="col-sm-10">
					<textarea id="releaseNote_comment" name="comment" ng-model="releaseNote.comment" class="form-control" ></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="releaseNote_dateModified" class="col-sm-2 control-label">{{ 'releaseNote.dateModified' | translate }}</label>
				<div class="col-sm-10">
					<input id="releaseNote_dateModified" bs-datepicker data-autoclose="1" ng-model="releaseNote.dateModified" name="dateModified" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label for="releaseNote_techNoteId" class="col-sm-2 control-label">{{ 'releaseNote.techNoteId' | translate }}</label>
				<div class="col-sm-10">
                    <select id="releaseNote_techNoteId" ng-model="releaseNote.techNoteId" name="techNoteId" class="form-control">
						<option value=""></option>
                        <option ng-repeat="techNote in items.techNotes" title="{{techNote.label}}" ng-selected="{{techNote.value == releaseNote.techNoteId}}" value="{{techNote.value}}">{{techNote.label}}</option>
                    </select>
				</div>
			</div>

			<!-- ACTION BUTTONS -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-2">
					<a role="button" class="btn btn-danger btn-block" ng-click="delete(releaseNote.id)" ng-show="mode != 'create'">{{ 'delete' | translate }}</a>
				</div>
    			<div class="col-sm-offset-4 col-sm-2">
					<a role="button" class="btn btn-default btn-block" href="#/releaseNote">{{ 'cancel' | translate }}</a>
				</div>
    			<div class="col-sm-2">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="save()">{{ 'save' | translate }}</button>
				</div>
			</div>
		</form>
			
    </fieldset>
