
<div class="container">    	
	 
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<div>
		<p>This application provides functionality and features to aide in tracking Agile development.
		   Below is a list of features that give a hint to how the application can add value to team or 
		   individual development efforts.
	</div>   		      
	<ul class="entity">
        <li>Record agile stories and sprint ticket assignments</li>
        <li>Keep track of Source Code changes and the reason for the changes</li>
        <li>SQL script DDL and DML</li>
        <li>Batch Jobs and the input files used for test execution</li>
        <li>Pull it all together to create report summaries and details to support historical views of work performed</li>
        <li>Search by date range to create report of weekly contributions (Brag sheet)</li>
    </ul>
	<br/><br/><br/><br/>

</div>	